<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/css/style2.css">
     <title>Program 5</title>
     
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body>
  <main class="main col-lg" style="max-width: 1000px;">
     <div class="container">
        <h1 class="mt-5" id="abhi1">Aim:- </h1>
        <p class="lead">To design an online simulator that implements a  Parser for the given grammar.</p>
      </div>

      <div class="container">
        <h1 class="mt-5" id="abhi2">Theory:- </h1>
        <p class="lead">A parser generator is a good tool that you should make part of your toolbox. A parser generator takes a grammar as input and automatically generates source code that can parse streams of characters using the grammar.</p>
        <p class="lead">The generated code is a parser, which takes a sequence of characters and tries to match the sequence against the grammar. The parser typically produces a parse tree, which shows how grammar productions are expanded into a sentence that matches the character sequence. The root of the parse tree is the starting nonterminal of the grammar. Each node of the parse tree expands into one production of the grammar. We’ll see how a parse tree actually looks in the next section.</p>
        <p class="lead">The final step of parsing is to do something useful with this parse tree. We are going to translate it into a value of a recursive data type. Recursive abstract data types are often used to represent an expression in a language, like HTML, or Markdown, or Java, or algebraic expressions. A recursive abstract data type that represents a language expression is called an abstract syntax tree (AST).</p>
      </div>


      <div class="container">
        <h1 class="mt-5" id="abhi3">Input/Output Examples:- </h1>
        <p class="lead">Let us take an example of a Grammar (Production Rules).</p>
        <p>S -&gt; sAB</p>
        <p>A -&gt; a</p>
        <p>B -&gt; b</p>
        <p class="lead">The input string is “sab”, then the Parse Tree is :</p>
        <br>
        <img src="/assets/img/p51.jpg" alt="">
      </div>


      <div class="container">
        <h1 class="mt-5" id="abhi4">Online Simulator:- </h1>
        
        <p class="lead">Click on this <a href="/p5.html">Link</a> to go to the Online Simulator.</p>
      </div>

      <div class="container">
        <h1 class="mt-5" id="abhi5">Discussion:- </h1>
        <p class="lead">We wrote the online simulator using C programming language and integrated it with the website designed using HTML, CSS, JavaScript. The simulator takes a Grammar(Production  Rules) as user input and generate the corresponding parse trees according to the grammar/ production rules.</p>
      </div>

      <div class="container">
        <h1 class="mt-5" id="abhi6">Source of Error &amp; Error Recovery:- </h1>
        <p class="lead">By default, Antlr parsers print errors to the console. In order to make the parser modular, however, we need to handle those errors differently. You can attach an ErrorListener to the lexer and parser in order to throw an exception when an error is encountered during parsing. The Sum.g4 file defines a method reportErrorsAsExceptions() which does this. So if you copy the technique used in this grammar file, you can call:</p>
        <p>lexer.reportErrorsAsExceptions();</p>
        <p>parser.reportErrorsAsExceptions();</p>
        <p class="lead">right after you create the lexer and parser. Then when you call parser.root(), it will throw an exception as soon as it encounters something that it can’t match.</p>
      </div>

      <div class="groupRow">
      <a href="/"><button class="btn">Back to Home</button></a>
    </div>
      </main>
</body>
       <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>